  img {
        border-radius: 50px;
        
        box-shadow: 10px 10px 9px rgba(69, 75, 72, 0.9)   }


      .titl {
        text-align:center;
        
      }
      .button-footer:hover {
        cursor:pointer;
        opacity: 0.5;
        padding-left: 5px;
        padding-right: 5px;

      }
      .button-footer:active {
        opacity: 0.2;
        color: black;

      }
      button {
        cursor: pointer;
      }
      h1 {
        font-family: sekuya,arial;
      }

      .assess {
        display: grid;
        grid-template-columns: 360px 1fr ;
      }
   